body{
    text-align: center;
    align-items: center;
}
h1{
    color: blue;
}
.body{
    position: relative;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    color: brown;
    border: 5px;
    padding: auto;
    margin: 2px solid red;
}
.side-corner{
    top: 90%;
    right: 10%;
    bottom: 10%;
    left: 80%;
}